<nav id="sidebar" class="cus-sidebar">


	<ul class="list-unstyled components">
		<li class="active">
			<a href="#homeSubmenu" aria-expanded="false">

				Dash Board
			</a>

		</li>
		<li class="active">
			<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
				Favorite Features
			</a>
			<ul class="list-unstyled show" id="homeSubmenu">
				<li>
					<a href="#">Home 1</a>
				</li>
				<li>
					<a href="#">Home 2</a>
				</li>
				<li>
					<a href="#">Home 3</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>